{% extends 'base.html.twig' %}

{% block body %}
    <h1>~ Inscription ~</h1>

    <div class="col col-sm-12 col-md-6 col-lg-6">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-dark" type="submit">S'inscrire</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
